{
  "presets": [["es2015", { "modules": false }], "stage-3", "react"],
  "plugins": ["lodash", "syntax-dynamic-import", "transform-react-constant-elements"],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs", "dynamic-import-node"]
    }
  }
}
