@import "@material/elevation/mdc-elevation";
@import "../index";

.AddItem-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}
.AddItem {
  padding: 10px;
  background-color: $mdc-theme-background;
  @include mdc-elevation(24);
  margin-top: 5px;
}
.AddItem-input {
  width: 100%;
}
#add-item-input {
  width: 100%;
}
