.IconButton {
  height: 24px;
  width: 24px;
  padding: 0;
  border: 0 !important;
  background: transparent;
  border: none;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.IconButton-margin {
  margin: 12px;
}
