body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.flex {
  display: flex;
}
.flex-child {
  flex: 1;
}
.center {
  justify-content: center;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.loading-padding {
  padding: 20px;
}
.full {
  height: 100vh;
  width: 100vw;
}
#root {
  height: 100vh;
  width: 100vw;
}
.text-center {
  text-align: center;
}
